useDynLib("RSiena")
export(coCovar, coDyadCovar, getEffects, model.create, print01Report,
siena01Gui, siena07, sienaCompositionChange,
sienaCompositionChangeFromFile, sienaDataCreate, sienaDataCreateFromSession,
sienaGroupCreate,  sienaNet, sienaNodeSet, simstats0c, varCovar, varDyadCovar)
